@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/recoleta-regular.otf') format('opentype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Recoleta';
    src: url('/fonts/recoleta-bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  /* Apply the font globally */
  body {
    font-family: 'Recoleta', sans-serif;
  }
  